# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc

# Build artifacts
build/*.log
build/node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.zip
*.tmp
*.bak
